

<center><h1> Add Telecommunication Request</h1><br>
  <h2> Use this form to request any of the following Telecommunication services:</h2>
  <ul>
</center>
  <h3>NYU Telecommunication Services</h3>
    <li>Install,move or disconnect desk phones, audio conferencing unit, wall/courtesy phones</li>
    <li>Voice Mail</li>
    <li>Mobility(single number reach)</li>
    <li>Softphone</li>
    <li>Automated Attendants(voice menu)</li>
    <li>Contact Center Agent Services</li>
    <li>Jack Installation</li>
    <li>Network activation for new or existing NYU jacks</li>
  </ul>
<br>

<ol class="breadcrumb" id="formhead">
  <li class="breadcrumb-item">
      General Information
  </li>
</ol>
<br>

<form method = "POST" action="/addTele">
  <div class="form-group">
  <label class="mr-sm-2" for="requestor">Requestor:</label><input type="text" class="form-control" name="telereqeust">&nbsp;&nbsp;
  </div>
  <div class="form-group">
  <label class="mr-sm-2" for="RequestorPhoneNumber">Requestor Phone Number:</label><input type="tel" class="form-control" name="num">&nbsp;&nbsp;
  </div>
  <div class="form-group">
  <label class="mr-sm-2" for="RequestorEmail">Requestor Email:</label><input type="text" class="form-control" name="mail">&nbsp;&nbsp;
  </div>
  <div class="form-group">
  <label class="mr-sm-2" for="DepartmentName">Department Name:</label><input type="text" class="form-control" name="teledeptname">&nbsp;&nbsp;
  </div>
  <div class="form-group">
  <label class="mr-sm-2" for="Recipient">Recipient:</label><input type="text" class="form-control"   name="telerecip">&nbsp;&nbsp;
  </div>
  <div class="form-group">
  <label class="mr-sm-2" for="RecipientPhoneNumber">Recipient Phone Number:</label><input type="tel" class="form-control" name="recipnum">&nbsp;&nbsp;
  </div>
  <div class="form-group">
  <label class="mr-sm-2" for="ServiceDescription">Service Description:</label><textarea class="form-control" name="servdesc" rows="3"></textarea>&nbsp;&nbsp;
  </div>
  <div class="form-group">
  <label class="mr-sm-2"for="RequestCompletionDate">Request Completion Date:</label><input type="date" class="form-control"  name="compdate">&nbsp;&nbsp;
  </div>
  <ol class="breadcrumb" id="formhead">
    <li class="breadcrumb-item">
        Service Selection
    </li>
  </ol>
  <br>
  <ol class="breadcrumb" id=formsub>
    <li class="breadcrumb-item">
        Telecommunication Services:
    </li>
  </ol>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="teleserv" value="Change the name used with an existing telephone " class="custom-control-input" id="changename">
    <label class="custom-control-label" for="changename">Change the name used with an existing telephone</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="teleserv" class="custom-control-input" value="VoiceMail Services " id="voicemail">
    <label class="custom-control-label" for="voicemail">VoiceMail Services</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="teleserv" value="Mobility" class="custom-control-input" id="mobility">
    <label class="custom-control-label" for="mobility">Mobility(NYU Desk phone can ring on your cell)</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="teleserv" class="custom-control-input" value="Softphone " id="softphone">
    <label class="custom-control-label" for="softphone">Softphone(ability to make and recieve calls using your NYU telephone number from a computer)</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="teleserv" class="custom-control-input" value="Contact Center agent name change " id="contactcenter">
    <label class="custom-control-label" for="contactcenter">Contact Center agent name change</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="teleserv" class="custom-control-input" value="Automated Attendant " id="automatedattendant">
    <label class="custom-control-label" for="automatedattendant">Automated Attendant(voice menu/phone trees)</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="teleserv" class="custom-control-input" value="Other feature or line changes to an existing telephone " id="other">
    <label class="custom-control-label" for="other">Other feature or line changes to an existing telephone</label>
  </div>


   <br><br><button type="submit" class="btn btn-primary">Submit</button>

</form>
