{{#each Movies}}
<table>
  <tr>
    <th>Title</th>
    <th>Director</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>{{title}}</td>
    <td>{{director}}</td>
    <td>{{year}}</td>
  </tr>
{{/each}}
</table>
