
  <div id="login">
    <center>
    <img src="../img/torch.jpeg">
  <div class="log-triangle"></div>
  <form action ="/register-user" method="POST" class="log-container">
    <div class="form-group">
    <input type="email" class="form-control d-block" id="email" placeholder="Email" name="email">&nbsp;&nbsp;
    </div>
    <div class="form-group">
    <input type="username" class="form-control d-block" id="username" placeholder="Username" name="username">&nbsp;&nbsp;
    </div>
    <div class="form-group">
    <input type="password" class="form-control d-block" id="pass" placeholder="Password" name="pass">&nbsp;&nbsp;
    </div>
    <div class="form-group">
    <input type="password" class="form-control d-block" id="pass" placeholder="Confirm Password" name="pass">&nbsp;&nbsp;
    </div>
    <button type="submit" value="Register" class="btn btn-primary">Submit</button>
  </center>
  </form>
  </div>
